.suggestions-container {
  padding: 10px;
  background-color: #f5f5f5; 
  border-top: 2px solid #ccc; 
  overflow-y: auto; 
}

.close-btn {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #db4437;
  border: none;
  cursor: pointer;
}

.suggestion-item {
  margin-bottom: 10px; 
}


.feedback-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}

.feedback-buttons button {
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}